/*testing area*/

/*testing area*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Prosto+One&family=Work+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root{
    font-size: 10px;
}
html{
    scroll-behavior: smooth;
}
.fa{
    color: white;
}
img.logo{
    float: right;
    width: 80px;
    border-radius: 50%;
}
a.logo:hover{
    background-color: transparent;
    box-shadow: none;
}
/*styling for all bodies*/
body{
    font-size: 2.4rem;
    /*background-color: rgb(37, 20, 113);*/
    background-image: url(https://images.unsplash.com/photo-1557682268-e3955ed5d83f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=564&q=80);
}
/*styling for all navbars*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px 2em;
    font-size: 2.8rem;
    position: fixed;
    top: 20;
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 19%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%); 
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    padding: 10px;
}
/*button and link styling*/
nav a, .pageBtns, .siteBtn, .siteLink, .projectLink{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
}
#myBtn{
    font-family: 'Bebas Neue', cursive;
    color: black;
    padding: 10px;
    margin: 0px 10px;
    font-size: 2.4rem;
}
nav a:hover{
    background-color: lightblue;
    color:rgb(77, 13, 136);
    box-shadow: 3px 3px inset rgb(255, 255, 255);
}
/*all main styling*/
main{
    padding: 15px;
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(115, 106, 221, 0.5);
    color: rgb(236, 225, 225);
}
main a{
    color: rgb(236, 225, 225);
}
main a:hover{
    color: lightblue;
}
/*all footer styling*/
footer{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    background: rgb(86,11,193);
    background: linear-gradient(135deg, rgba(86,11,193,1) 26%, rgba(144,37,171,1) 46%, rgba(131,82,196,1) 85%, rgba(226,138,249,1) 100%); 
    color: rgb(255, 255, 255);
}
footer a{
    color: rgb(255, 255, 255);
}
/*all header styling*/
div.header{
    font-size: 10rem;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: 'Prosto One', cursive;
    background-image: url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
}
h1, .siteHdr{
    font-family: 'Prosto One', cursive;
}
/*fonts*/
.siteText{
    font-family: 'Work Sans', sans-serif;
}
/*home page specific styling*/
/*styling self-intro portion*/
.self-intro{
    display:flex;
    width: 100%;
    justify-content: center;
    line-height: 1.4em;
}
.blurb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 10px;
    text-indent: 2em;
}
.self-intro img{
    width: 18vw;
    max-height: 26vw;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px;
    align-self: center;
}
.self-intro ul{
    list-style-type: initial;
    margin-left: 2em;
}
.connectTitle{
    text-align: center;
    font-size: 4.8rem;
    margin-bottom: 10px;
}
/*style resume button in self intro section*/
.resumeBtn{
    text-decoration: none;
    padding: 15px;
    background-color: lightblue;
    margin: 10px auto;
    border-radius: 10px;
    color: rgb(19, 19, 203);
    display: block;
}
.resumeBtn:hover{
    background-color:rgb(199, 162, 230);
    color: white;
}
/*styling button portion of home*/
.pageBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.pageBtns a, a.pageBtns{
    text-decoration: none;
    margin: 20px;
    padding: 20px 30px;
    width: 80%;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    color:rgb(19, 19, 203);
    
}
.pageBtns a:hover, a.pageBtns:hover{
    background-color: rgb(192, 152, 225);
    color: white;
    text-decoration: underline;
}/*style socials section on home*/
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}
.socials a{
    margin: 0 15px;
}
/*PROJECT page specific*/
/*project gallery section specific*/
#more {display: none;}
.projectIntro p, .projectJourney p{
    text-indent: 2em;
    line-height: 1.5em;
}
a.projectGalLink, .siteLink, .projectLink, .projectSkip{
    color: white;
    display: block;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    background-color:rgb(58, 129, 200);
    width: 50%;
    border-radius: 15px;
    border: 1px solid white;
}
a.projectGalLink:hover, .siteLink:hover, .projectLink:hover, .projectSkip:hover{
    color: white;
    background-color:rgb(19, 19, 203);
}
.projectContent{
    display: flex;
    width: 100%;
}
.evenProject .projectContent{
    display: flex;
    flex-direction: row-reverse;
}
.projectContent img{
    align-self: center;
    width: 45%;
    height: 50%;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}
.projectContent p{
    padding: 10px; 
}
.projectTextLinks{
    width: 55%;
}
.projectGalleryContainer{
    margin: 10px 0;
}
.projectGalleryContainer p{
    text-indent: 2em;
    line-height: 1.2em;
}
.siteLink, .projectLink{
    display: block;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 70%;

}
/*gallery background colors*/

/*RESUME*/
.resumeMain ul li{
    margin-left: 2em;
}
.resumeContent{
    line-height: 1.75em;
}
.resumeMain h1, .resumeMain h2{
    margin: 15px 0;
}
.resumeIntro{
    text-align: center;
    margin-bottom: 15px;
}
.resumeMain a.pageBtns{
    margin: 10px auto;
    width: 30%;
}
/*crochet corner styling*/
